Repository MicrosoftDocs/winrt-related, pull requests merged in 2023-06, with the labels that each got.

#351 Remove duplicate attributes.
  winrt-related-src/schemas/appxpackage/uapmanifestschema/element-uap5-ExecutionAlias.md
Labels: Change sent to author, ready-to-merge, winrt-reference/tech, uwp/prod, aq-pr-triaged, qualifies-for-auto-merge

#354 AppxPackage page: Fix typo
  winrt-related-src/schemas/appxpackage/uapmanifestschema/element-package.md
Labels: Change sent to author, do-not-merge, winrt-reference/tech, uwp/prod, qualifies-for-auto-merge

#325 Added a remark about uap10:TrustLevel
  winrt-related-src/schemas/appxpackage/uapmanifestschema/element-application.md
Labels: Change sent to author, do-not-merge, winrt-reference/tech, uwp/prod, aq-pr-triaged, qualifies-for-auto-merge

#294 Update element-framework.md
  winrt-related-src/schemas/appxpackage/uapmanifestschema/element-framework.md
Labels: Change sent to author, do-not-merge, winrt-reference/tech, uwp/prod, aq-pr-triaged, qualifies-for-auto-merge

#290 Update element-uap-visualelements.md
  winrt-related-src/schemas/appxpackage/uapmanifestschema/element-uap-visualelements.md
Labels: Change sent to author, do-not-merge, winrt-reference/tech, uwp/prod, aq-pr-triaged, qualifies-for-auto-merge
